body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/******************************************************************************************************/
/*										Main Container Layout and Structure							  */
/******************************************************************************************************/

.fill {
	height: 100vh;
	overflow: hidden;
}

.myrow1 {
	height: 20vh;
}

.myrow2, 
.myrow3 {
	height: 40vh;
}

/******************************************************************************************************/
/*										Slider Open state: Layout and Structure						  */
/******************************************************************************************************/

.innerRow {
	justify-content: center;
	align-items: center;
	height: 29%;

	/* Uncomment next line when debugging the slider: */
	/* border: solid 0.1px black; */
}

.mycol2,
.mycol3,
.mycol4 {
	border-right: solid 1px;
	border-left: solid 1px;
	border-color: aliceblue;
}

.mycol1,
.mycol2,
.mycol3,
.mycol4,
.mycol5 {
	border-top: solid aliceblue 2px;
	position: relative;
	top: 88%;
	min-width: 5%;
}

@keyframes slide-up {
	0% {
		top: 88%;
	}
	100% {
		top: 0%;
	}
}

.mycol1:hover,
.mycol2:hover,
.mycol3:hover,
.mycol4:hover,
.mycol5:hover {
	animation: 0.5s slide-up;
	border-top: solid aliceblue 0px;
	top: 0%;
}

.mycol1,
.mycol5 {
	border-color: aliceblue;
}

.mycol1 {
	border-left: solid 0px;
	border-right: solid 1px;
	border-color: aliceblue;
	background-color: rgb(26, 31, 50, 1);
}

.mycol2 {
	background-color: rgb(48, 49, 70, 1);
}

.mycol3 {
	background-color: rgb(23, 25, 38, 1);
}

.mycol4 {
	background-color: rgba(84, 71, 91, 1);
}

.mycol5 {
	border-right: solid 0px;
	border-left: solid 1px;
	border-color: aliceblue;
	background-color: rgb(117, 86, 101, 1);
}

/******************************************************************************************************/
/*										Slider Open state: Text and Icons							  */
/******************************************************************************************************/

/* Mandatory Prayer Text */
.prayer-name {
	margin-bottom: 0%;
	font-family: "Source Sans Pro", sans-serif;
	padding: 9%;
	padding-inline: 0% 0%;
	text-align: center;
	color: aliceblue;
	font-size: 4vw;
}

/*  Mandatory Icons */
.mandatory-icon {
	width: auto;
	height: auto;
	filter: invert(100%);
	padding: 22%;
	padding-top: 12%;
}
