body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/******************************************************************************************************/
/*										Main Container: Layout and Structure							  */
/******************************************************************************************************/

.fill {
	height: 100vh;
	overflow: hidden;
}

.myrow1,
.myrow2,
.myrow3 {
	/* border: solid 1px gold; */
}

.myrow1 {
	height: 32.5vh;
}

.myrow2 {
	height: 26.5vh;
}
.myrow3 {
	height: 41vh;
}

.myrow2 {
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
}

/******************************************************************************************************/
/*										Logo and Prayer Window: Layout and Structure				  */
/******************************************************************************************************/

.row2row1,
.row2row2,
.row2row3,
.row2row4 {
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
	align-items: center;
	color: white;
	/* border: solid white 1px; */
}

.row2row1 {
	justify-content: center;
	height: 44%;
}
.row2row2 {
	text-transform: uppercase;
	height: 12.5%;
}
.row2row3 {
	height: 33%;
	justify-content: center;
}
.row2row4 {
	text-transform: uppercase;
	height: 10.5%;
}

/******************************************************************************************************/
/*										Logo and Prayer Window: Content								  */
/******************************************************************************************************/
.logo {
	width: auto;
	height: 88%;
	filter: invert(100%);
	/* border: gold solid 1px; */
	padding: 0%;
}

#first-prayer,
#time-left,
#second-prayer {
	margin: 0;
	/* border: black solid 1px; */
}

#first-prayer {
	font-size: 3.75vh;
	line-height: 0.75;
	padding: 0px;
	/* font-weight: bold; */
}
#time-left {
	font-size: 9.5vh;
	line-height: 0.75;
	padding: 0px;
	font-family: helvetica;
	font-weight: bold;
}
#second-prayer {
	font-size: 2.75vh;
	line-height: 0.75;
	padding: 0px;
	/* font-weight: bold; */
}

/******************************************************************************************************/
/*										Slider Open state: Layout and Structure						  */
/******************************************************************************************************/

.innerRow3 {
	justify-content: center;
	align-items: center;
	height: 29%;
	/* border: solid 0.1px white; */
}

.row3col2,
.row3col3,
.row3col4 {
	border-right: solid 1px;
	border-left: solid 1px;
	border-color: aliceblue;
}

.row3col1,
.row3col2,
.row3col3,
.row3col4,
.row3col5 {
	border-top: solid aliceblue 2px;
	position: relative;
	top: 88%;
	min-width: 5%;
}

.row3col1,
.row3col5 {
	border-color: aliceblue;
}

.row3col1 {
	border-left: solid 0px;
	border-right: solid 1px;
	border-color: aliceblue;
	background-color: rgb(26, 31, 50, 1);
}

.row3col2 {
	background-color: rgb(48, 49, 70, 1);
}

.row3col3 {
	background-color: rgb(23, 25, 38, 1);
}

.row3col4 {
	background-color: rgba(84, 71, 91, 1);
}

.row3col5 {
	border-right: solid 0px;
	border-left: solid 1px;
	border-color: aliceblue;
	background-color: rgb(117, 86, 101, 1);
}

/******************************************************************************************************/
/*										Slider Open state: Text and Icons							  */
/******************************************************************************************************/

/* Mandatory Prayer Text */
.prayer-name {
	margin-bottom: 0%;
	font-family: "Source Sans Pro", sans-serif;
	padding: 9%;
	padding-inline: 0% 0%;
	text-align: center;
	color: aliceblue;
	font-size: 4vw;
}

/*  Mandatory Icons */
.mandatory-icon {
	width: auto;
	height: auto;
	filter: invert(100%);
	padding: 22%;
	padding-top: 12%;
}

/******************************************************************************************************/
/*										Slider Animation											  */
/******************************************************************************************************/

@keyframes slide-up {
	0% {
		top: 88%;
	}
	100% {
		top: 7.5%;
	}
}

.row3col1:hover,
.row3col2:hover,
.row3col3:hover,
.row3col4:hover,
.row3col5:hover {
	animation: 0.5s slide-up;
	border-top: solid aliceblue 0px;
	top: 7.5%;
}
