body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

/* This is swiper's init css props */
.swiper {
	height: 100vh;
}
.swiper-wrapper {
	color: #f0f8ff;
}

/* Grid props */
.grid-container {
	display: grid;
	grid-template-rows: 30% 40% 25% 5%;
}
.grid-item {
	outline: 1px dotted red;
}
